<configuration>
   <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"></property>
   
   
   <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
     <encoder>
        <pattern>${LOG_PATTERN}</pattern>
     </encoder>
   </appender>
   
   <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
     <file>logs/app.log</file>
     <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
       <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
       <maxHistory>30</maxHistory>
       <maxFileSize>1MB</maxFileSize>
     </rollingPolicy>
     <encoder>
       <pattern>
          ${LOG_PATTERN}
       </pattern>
     </encoder> 
   </appender>
   
   <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="ROLLING_FILE" />
   </root>
   
    <logger name="com.example" level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>